<?xml version="1.0"?>
<model>
  <name>cube200kg</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Ene Paul-Alexandru / Ichim Iurii</name>
   <email>paulalexandru.ene@mail.polimi.it</email>
  </author>

  <description>
    My awesome robot.
  </description>
</model>